* {
	font-family: 'Nanum Gothic', sans-serif;
}
body {
	margin: 0;
	background-color : #222222;
	font-family: 'Nanum Gothic', sans-serif;
}
#toolbar {
	color: #FFFFFF;
	z-index:1;
	display: inline-block;
	position: fixed;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	font-size: 3vw;
}
#toolbarlink {
	color: #FFFFFF;
	text-decoration: none;
}
#topbar {
	background-color: #e8ac33;
	color: #FFFFFF;
	z-index:2;
	display: inline-block;
	position: relative;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
}
#title {
	font-size: 7vw;
	color: #ffffff;
}
#subtitle {
	padding-top: 2%;
	font-size: 4vw;
}
#section1 {
	padding: 1% 5%;
}
#section2 {
	border-style: solid;
	border-radius: 0.5em;
	border-color: #000000;
	margin: 2% 0% 10% 0%;
	box-shadow: 0 0 20px #FFFFFF;
}
#sectiontitle {
	font-size: 5vw;
	padding: 2% 0 0 2%;
	color: #0d8a0d;
}
#section3 {
	padding: 0 2% 0 2%;
	font-size: 2vw;
	color: #ffffff;
}
#instalink {
	color: #FFFFFF;
	background-color: #DD3333;
	text-decoration: none;
	padding: 1%;
	border-radius: 0.5em;
}
#search {
	margin-top: 5%;
	width: 90%;
	font-size: 3vw;
	padding: 2%;
}
summary {
	margin-top: 2%;
	margin-bottom: 2%;
	color: #5522FF
}
summary#project {
	margin-top: 2%;
	margin-bottom: 2%;
	color: #00fd19;
}
.item {
	margin-top: 2%;
	margin-left: 2%;
	font-size: 3vw;
}
.item > a {
	cursor: point;
	text-decoration: none;
	color: #FFFFFF;
}
.item > a:hover {
	color: #00FF00;
}
#hits {
	width: 70%;
	height: 70%;
}
#project_link {
	color: #e8ca33;
	text-decoration: none;
}
#project_link:hover {
	color: #e8ca33;
	text-decoration: underline;
}
#search2 {
	margin-top: 2%;
	width: 20%;
	font-size: 2vw;
	padding: 1%;
}
#search3 {
	margin-top: 2%;
	width: 20%;
	font-size: 2vw;
	padding: 1%;
}
#search4 {
	margin-top: 2%;
	margin-left: 2%;
	width: 10%;
	font-size: 2vw;
	padding: 1%;
}
#search5 {
	margin-top: 2%;
	width: 20%;
	font-size: 2vw;
	padding: 1%;
}
#search6 {
	margin-top: 2%;
	width: 20%;
	font-size: 2vw;
	padding: 1%;
}
#search7 {
	margin-top: 2%;
	margin-left: 2%;
	width: 10%;
	font-size: 2vw;
	padding: 1%;
}
#search8 {
	margin-top: 2%;
	width: 15%;
	font-size: 2vw;
	padding: 1%;
}
#search9 {
	margin-top: 2%;
	width: 15%;
	font-size: 2vw;
	padding: 1%;
}
#search10 {
	margin-top: 2%;
	margin-left: 2%;
	width: 10%;
	font-size: 2vw;
	padding: 1%;
}
#search11 {
	margin-top: 2%;
	width: 15%;
	font-size: 2vw;
	padding: 1%;
}
#search12 {
	margin-top: 2%;
	width: 15%;
	font-size: 2vw;
	padding: 1%;
}
#search13 {
	margin-top: 2%;
	margin-left: 2%;
	width: 10%;
	font-size: 2vw;
	padding: 1%;
}
#search14, #search15 {
	margin-top: 2%;
	width: 20%;
	font-size: 2vw;
	padding: 1%;
}
#result1 {
    width: 96%;
    height: 20vw;
	padding: 1%;
	margin: 1%;
	font-size: 2vw;
    border: none;
    resize: none;
}
#result2 {
    width: 96%;
    height: 20vw;
	padding: 1%;
	margin: 1%;
	font-size: 2vw;
    border: none;
    resize: none;
}
#result3 {
    width: 96%;
    height: 20vw;
	padding: 1%;
	margin: 1%;
	font-size: 2vw;
    border: none;
    resize: none;
}
#result4 {
    width: 96%;
    height: 20vw;
	padding: 1%;
	margin: 1%;
	font-size: 2vw;
    border: none;
    resize: none;
}
#zscoreinput1 {
    width: 96%;
    height: 20vw;
	padding: 1%;
	margin: 1%;
	font-size: 2vw;
    border: none;
    resize: none;
}
#zscoreinput2 {
    width: 96%;
    height: 20vw;
	padding: 1%;
	margin: 1%;
	font-size: 2vw;
    border: none;
    resize: none;
}
#subjectinfo1 {
	background-color: #E9C203;
}
#subjectinfo2 {
	background-color: #E9C203;
}
#subjectinfo3 {
	background-color: #CC9999;
}
#subjectinfo4 {
	background-color: #CC9999;
}
#result5 table {
	background-color: #ffffff;
	color: #000000;
}
#result5 th, td {
	padding: 50px 10px;
	font-size: 60px;
}
#result5 td {
	text-align: center;
}
#result6 table {
	background-color: #ffffff;
	color: #000000;
}
#result6 th, td {
	padding: 50px 10px;
	font-size: 60px;
}
#result6 td {
	text-align: center;
}
#result7 table {
	background-color: #ffffff;
	color: #000000;
}
#result7 th, td {
	padding: 50px 10px;
	font-size: 60px;
}
#result7 td {
	text-align: center;
}
#result8 table {
	background-color: #ffffff;
	color: #000000;
}
#result8 th, td {
	padding: 50px 10px;
	font-size: 60px;
}
#result8 td {
	text-align: center;
}